body {
    background-color: powderblue;
    margin: 0;
    position: absolute;
    top: 5%;
    left: 50%;
    -ms-transform: translateY(-5%);
    transform: translateY(-5%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

div {
    margin-bottom: 32px;
}

#Keystyle {
    margin-bottom: 8px;
}

hr {
    margin-top: 64px;
    margin-bottom: 64px;
}

#browseStretch {
    margin-bottom: 32px;
}