body {
    background-color: powderblue;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

div {
    margin-bottom: 32px;
}